


/* layout*/

/* banner */
.banner{
	background-image: url("../week3_rdw/img/home-header.png");
	background-repeat: no-repeat; /* repeat：預設值，背景圖會重複；no-repeat：不重複背景圖 */
	background-size: cover; /* 表示的方式可以寫成px、百分比、cover(將圖片填滿整個容器，若圖片小於容器且像素過低時，容易造成失真)、contain(將圖片縮小成可以完整放入容器的大小，可用於圖片大過容器時的情況) */
	padding: 296px 0;
	color: #650300;
	text-align: right;
}
.banner-title{
	width: 50%;
	margin-left: auto;
}
@media (max-width: 992px) { /* 平板 */
	.banner{
		background-image: url("../week3_rdw/img/home-header-sm.png");
	}
	.banner-title{
		width: 100%;
		margin-left: auto;
	}
	.banner-title .h1{
		margin-bottom: 8px;
	}
 }
 @media (max-width: 576px) { /* 手機 */
	.banner-title .h1{
		font-size: 24px;
		font-weight: bold;
	}
	.banner-title .h3{
		font-size: 16px;
		
	}
 }

 /* feature -  */
 .feature{
	background-color: #FBF2F2;
	color: #650300;
	text-align: center;
	padding: 80px 0;
}
.feature-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.feature-list .card{
	/* width: 306px; => width: 25%; 電腦版可以設定特定px，但是轉換成行動裝置邊嘗就不一致了，所以改成百分比較能自適應 */
	width: calc(25% - 18px); /* 寫法一 : 算法如下card(間距24px)*3 = 72px，72px要分別扣在4個card上，
		72/4 = 18px，故 width: calc(25% - 18px); 比較不直覺要多練，如果用寫法一、二記得card上面的間隔 mr-4要拿掉。  */
	/* 寫法二 : width: 25%; + gap: 24px; */
}

@media (max-width: 992px) { /* 平板 */
	.feature-list .card{
		width: calc(50% - 12px); /* width: calc(50% - 12px); 寫法一 : 算法如下card(間距24px)*1 = 24px，24px要分別扣在2個card上，24/2 = 12px，故 width: calc(50% - 12px); 比較不直覺要多練  */
		/* 寫法二 : display: grid;+ width: 50%; + gap: 24px; */
		/* display: grid;
		width: 50%;
		gap: 24px; 這段gap無法生效 */
		margin-bottom: 24px;
	}
 }
@media (max-width: 576px) { /* 手機 */
	.feature-list .card{
		width: 100%;
		margin-bottom: 24px;
	}
 }
.card-img{
	max-width: 84px;
	height: auto;
}
.card-title{
	color: #650300;
	font-size: 24px;
	font-weight:bold;
}
.card-content{
	color: #000000;
	font-size: 16px;
	/* text-align: left; */
}

/* classic - 經典鏡框 */
.classic{
	background: #fff;
	color: #AA0601;
	text-align: center;
	padding: 80px 0;
}
.classic-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.classic-list .classic-item{
	/* width: 416px; */
	width: calc(33.333% - 16px);
}
@media (max-width: 992px) { /* 平板 */
	.classic-list .classic-item{
		width: 100%;
		margin-bottom: 24px;
	}
	.classic-img{
		width: 336px;
	}
 }
@media (max-width: 576px) { /* 手機 */
	.classic-list .classic-item{
		width: 100%;
		margin-bottom: 24px;
	}
	.classic-img{
		width: 348px;
	}
 }

/* design - 聯名設計 */
 .design{
	background-image: url("../week3_rdw/img/index-bg.png");
	color: #ffffff;
	text-align: center;
	padding: 80px 0;
}
.design-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.design-list .design-item{
	width: 50%;
}
.design-item-content{
	background-color: #ffffff;
	color: #AA0601;
	padding: 8px 0;
	
}
@media (max-width: 992px) { /* 平板 */
	.design-list .design-item{
		width: 100%;
	}
	.design-list{
		display: grid;
		gap: 24px 0;
	}
 }
 @media (max-width: 576px) { /* 手機 */
	.design-list .design-item{
		width: 100%;
	}
 }

 /* recommend - 顧客推薦 */
 .recommend{
	background-color: #ffffff;
	color: #650300;
	padding: 80px 0;
}
.recommend-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.recommend-item{
	width: calc(25% - 18px); /* 24*3=72， 72/4=18 */
	/* height: auto; */
	box-shadow: 0px 2px 6px #00000029;
	border-radius: 4px;
}
.recommend-content{
	font-size: 16px;
	color: #000;
	padding: 16px 16px;
}
.recommend-date{
	font-size: 14px;
	color: #707070;
}
@media (max-width: 992px) { /* 平板 */
	.recommend-item{
		width: calc(50% - 12px);
		margin-bottom: 24px;
	}
 }
 @media (max-width: 576px) { /* 手機 */
	.recommend-item{
		width: 100%;
		margin-bottom: 24px;
	}
	/* .recommend-list .recommend-item{
		width: 100%;
	}
		非常奇怪的莊況-gap在w-100%下能用，w-50卻不行
		
	.recommend-list{
		display: grid;
		gap: 24px 0;
	} */
 }

 /* component - 聯絡我們*/
 .contact{
	background-color: #FBF2F2;
	padding: 104px 24px;
}
.contact-title{
	color: #650300;
	text-align: center;
}
.contact-main{
	width: 50%;
	color: #000;
	display: flex;
	justify-content: center;
	margin:0 auto;
}
.form-title{
	font-size: 20px;
	width: 100%;
}
.form{
	width: 100%;
	font-size: 16px;
	color: #000;
}
.feedback{
	height: 136px;
	width: 100%;
}
@media (max-width: 992px) { /* 平板 */
	.contact-main{
		width: 75%;
	}
 }
@media (max-width: 576px) { /* 手機 */
	.contact-main{
		width: 100%;
	}
 }

/* component */


/* utils */