/* 外部資源優先 */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* base */

body{
	font-family: "Bruno Ace SC", sans-serif;
    line-height: 1.5; /* 用整體的line-height / font-size，其他少數有不一致的個別設定 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
	/* outline: solid 1px; */
}

a{
	display: inline-block;
	text-decoration: none;
	color: #D1D1D1;
}

img{
    max-width: 100%;
    margin: 0 auto;
	vertical-align: middle;
}


/* layout*/
.header{
	background-color: #000;
	color: #D1D1D1;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .main{
	background-color: #000;
	color: #D1D1D1;
} */

/* component */
.btn{
	padding: 12px 24px;
	border-radius: 32px; /* 點選設計稿中的btn在Layout-Radius 有顯示 32px */
}

.btn-light{ 
	background-color: #FFF;
	color: #000;;
}

.btn-light:hover{
	box-shadow: 0px 0px 16px 3px #9094FFE5;
	/* box-shadow: 0px 4px 4px 0px #00000040; */
	transition: 0.5s; /* 延遲秒數可加可不加 */
}

.btn-dark{
	background-color: #000;
	color: #FFF;
}

.btn-dark:hover{
	box-shadow: 0px 0px 16px 3px #050014;
	/* box-shadow: 0px 4px 4px 0px #00000040; */
	transition: 0.5s; /* 延遲秒數可加可不加 */
}

/* page */
.banner{
	background-color: #000;
	color: #D1D1D1;
}

.banner-title-strong{
	display: block;
	text-align: right;
}

.intro{
	background-image: url("week2_flex/img/background-img.png");
	background-repeat: no-repeat; /* no-repeat：預設值，背景圖會重複；repeat：不重複背景圖 */
	background-size: cover; /* contain：預設值，讓圖片可以整個呈現在區塊裡；cover：填滿整個區塊 */
	color: #FFF;
	padding: 160px 0; /* 用padding把上下撐開 */
}

.intro-desc{
	width: 526px;
}

.about{
	background-color: #FFF;
	color: #000;
	padding: 160px 0; /* 用padding把上下撐開 */
}

.about-list{
	width: 636px;
	flex-wrap: wrap;
	justify-content: space-between;/* 第1種卡片間距寫法:卡片中間的間距可以用父層的 justify-content: space-between; 去推開 */
	/* 第3種卡片間距寫法:  gap: 24px; 並把justify-content: space-between;註解，卡片01、02的通用樣式mb-6也可以註解，gap會自動推開。  */
}

.about-list li{
	width: 48%; /* 配合第1種寫法 width不要寫滿50% 留點空間 */
	/* 第2種卡片間距寫法:  width: calc(50%-12px); 這是更精準的寫法，width佔50%扣去間距12px，calc是計算函式 */

	box-shadow: 4px 4px 4px 0px #00000014;  /* offset-x | offset-y | blur-radius | spread-radius | color    ，屬性可以直接複製貼上 */ 
}


.about-desc{
	width: 526px;
}

.contact{
	background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%); /* 屬性可以直接複製貼上 figma很方便，第一個屬性是漸變的角度，然後從 A色轉變成 B色。 */ 
	color: #fff;
	padding: 96px 0;	
}

.link-hover:hover{
	background: #010344e5;
	box-shadow: 0px 0px 16px 3px #010344e5;
	transition: 0.5s; /* 延遲秒數可加可不加 */
}

.socal-link{
	border-radius: 40px; /* 設定圓角角度看設計稿 */ 
}
.socal-link:hover{
	box-shadow: 0px 0px 16px 3px #9094FFE5;
	/* box-shadow: 0px 4px 4px 0px #00000040; */
	transition: 0.5s; /* 延遲秒數可加可不加 */
}

.project{
	background-color: #FFF;
	color: #000;
	padding: 160px 0;
}

.project-title{
	width: 746px;
	margin-left: auto;
}

.project-desc{
	display: flex;
}

.footer{
	background-color: #000;
	color: #fff;
	padding: 40px 0;
}


/* utils */
.container{
    width: 1296px; /* 計算方法: columns 12*86(width) +gutter 11*24 = 1032 + 264 = 1296 */
    margin: 0 auto;
}

.h1{
	font-size: 128px;
}

.h2{
	font-size: 64px;
}

.fs-1{
	font-size: 32px;
}

.fs-2{
	font-size: 24px;
}

.fs-3{
	font-size: 20px;
}

.text-primary{
	color: #00FFA3;
}

.d-flex{
	display: flex;
}

.flex-direction-column{
	flex-direction: column;
}

.justity-content-center{
	justify-content: center;
}


.justity-content-between{
	justify-content: space-between;
}
.justity-content-end{
	justify-content: flex-end;
}

.align-items-center{
	align-items: center;
}

.align-items-start{
	align-items: start
}

.align-content-between{
	align-content: space-between;
}




.mr-6{ /* 設計稿間距大多為4px的倍數，所以4px=1 */
	margin-right: 24px;
}

.mb-6{ 
	margin-bottom: 24px;
}

.mb-9{ 
	margin-bottom: 36px;
}







